@model IEnumerable<ProductManagementSystem.Models.Product>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div class="table-responsive">



    <table id="myTable" class="table table-striped">
        <thead>
            <tr>
                <th>
                    <input type="checkbox" id="ckbCheckAll" />
                    <button type="button" class="btn btn-danger" id="removeBtn"><i class="fa fa-trash-o" aria-hidden="true"></i></button>

                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SmallImageUrl)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Category)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Price)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Quantity)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ShortDescription)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LongDescription)
                </th>


                <th></th>
            </tr>

        </thead>

        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <input name="rowCheckBox" type="checkbox" class="checkbox" />
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        <img id="smallImage" name="smallImage" src="@Url.Content(item.SmallImageUrl)" class="img-thumbnail" height="100px" width="100px"
                             @if (item.LargeImageUrl != null) { <text> data-toggle="modal" data-target="#largeImageModalCenter" data-whatever="@Url.Content(item.LargeImageUrl)" </text> }>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Category)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Quantity)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ShortDescription)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LongDescription)
                    </td>


                    <td>

                        <div class="d-flex d-inline-block m-0">

                            @using (Html.BeginForm("EditProduct", "Products", FormMethod.Post, new { id = "editForm", @class = "form-inline" }))
                            {
                                @Html.Hidden("id", item.Id)
                                <button type="submit" class="btn btn-primary" id="editBtn"><i class="fa fa-edit" aria-hidden="true"></i></button>
                            }

                            @using (Html.BeginForm("Delete", "Products", FormMethod.Post, new { id = "deleteForm", @class = "form-inline" }))
                            {
                                @Html.AntiForgeryToken();
                                @Html.Hidden("id", item.Id)
                                <button type="submit" class="btn btn-danger" id="removeBtn"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
                            }


                        </div>


                    </td>
                </tr>
            }

        </tbody>


    </table>



</div>

<div class="modal fade" id="largeImageModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <img class="card-img" id="#largeImage" src="" />
            </div>
        </div>
    </div>
</div>

<div class="toast bg-danger" id="toast" style="position: absolute; top: 0; right: 0;" data-autohide="false" data-whatever="">
    <div class="toast-header">
        <span>
            <i class="fa fa-bell" aria-hidden="true"></i>
        </span>
        <strong class="mr-auto">Notification</strong>
        
        <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="toast-body">
        <p></p>
    </div>
</div>